.header {
    display: flex;
    background-color:#353A40;
    padding-left: 4em;
   
}

.nav {
    display: flex;
    margin-left: 4.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

}

#codo_a_codo {
display: flex;
width: 29%;
align-items: flex-end;

}

.Conf {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


.ancla {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.ancla:hover {
    transform: scale(110%);
}

#ComprarTickets {
    color: #27A843;
}
.imagenprincipal {   
    display: flex;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/ba1.jpg);    
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;   
    margin-top: 0;
           
}
.TextoCentral {
    height: fit-content;
    width: 45%;
    position: relative;
    top:45%;
    left:50%;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1em;
    line-height: 1.5;

}

.links {
display: flex;
flex-direction: row;
padding-left: 53%;
padding-right: 2%;
justify-content: space-between

}
.ancla2 {
    text-decoration: none;
    display: block;
    height: fit-content;
    width: fit-content;
    justify-content: space-around;
    border: 0.5px solid white ;
    border-radius: 5%;
    color: white;
    padding: 4px;
    

}
.ancla3 {
    text-decoration: none;
    text-align:center;
    display: block;
    height: fit-content;
    width: fit-content;
    justify-content: space-around;
    background-color: rgb(33, 167, 93);
    border: 0.5px solid rgb(33, 167, 93);
    border-radius: 5%;
    color: rgb(255, 255, 255);
    padding: 4px;
}
.oradores {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 0 auto;
    margin-top: 1%;
    margin-bottom: 4%;
  
}
.titulotarjetas {
    display: block;
    height: 20%;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 3mm;
   
    
}
.grupotarjetas {
    display: flex;
    height: 90vh;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 13%;
    margin-right: 13%;
    
   
}
.tarjeta {
    display: flex;
    border: border-box;
    flex-direction: column; 
    height: 100%;
    width: 31%;  
    border: 1px solid rgb(124, 122, 122);
    border-radius: 5px;
    padding-bottom: 4px;

}

.imagentarjeta {
    width: 100%;
    height: 80%;
    border: solid rgb(12, 11, 11);
    border-radius: 5px;
 
}

.boton {
border: solid 1px;
width: fit-content;
border-radius:3px;
font-size: 0.8em;
font-weight: bold;
margin-top: 4%;
margin-left: 1%;
padding: 1px;

}
.java {
    border: #FDC206;
    background-color: #FDC206;
    color: black ;
}

.react {
    border: #229CB3;
    background-color: #229CB3;
    color: white;
}
.startups {
    border: #D63141;
    background-color: #D63141;
    color: white;
}
.negocios {
    border:#6E7681;
    background-color: #6E7681;
    color: white;
}
.row {
    display: flexbox;
    margin-left: 5%;
    justify-content:flex-start;
    }

.textotarjeta {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5%;
    justify-content: center;
    font-size: 0.9rem;
    padding-top: 1%;

}

.imagendividida {
    display: flex;
    height: 70vh;
    width: 100%;
    margin-bottom:2em;
    
}
.imagenBA {
    display:flex;
    flex-direction: column;
    height: 70vh;
    width: 50%;
    background-image: url(../images/BA.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border: 2px solid white;

}
.textoimagendividida {
    display: flex;
    height: 70vh;
    width:50%;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid white;
    background-color: #34393F;
    color: white;
    font-size: 0.9em;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
    

}
#ancla4 {
    display: block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 4px;

}

 .tabla {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 1em;
 width: 50%;
 align-items: center;
 justify-content: space-between;
 }

 .table-responsive {
    width: 98%;
    height: max-content;
 }
 #recuerdo {
    font-size: small;
 }

 .NA {
  width: 48.5%;
 }

 #Enviar {
    background-color: #96C93E;
    border: solid #96C93E;
    border-radius: 5px;
    color: aliceblue;

 }
 #tabla {
    line-height: 1.2em;
    table-layout: auto;
 }
 .Enviar {
    width: 98%;
 }

.pie {
    display: flex;
    height: 10vh;
    width:100%;
    background: linear-gradient(90deg, rgba(26,55,69,1) 18%, rgba(29,67,88,1) 26%, rgba(31,82,113,1) 35%);
    align-items: center;
    color: aliceblue;  
    padding-left: 15%;
    padding-right: 15%;
    line-height: 1.2;
}

h6 {
    font-weight: lighter !important;
}

@media (max-width: 600px) {
    .header {
    padding-left: 0.2em;
    height: fit-content;
  }

  #codo_a_codo {
    display: flex;
    width:5em;
    
    }
    
    .navbar-toggler {
        margin-left: 3.6cm;
    
    }

    .imagenprincipal {
        width: 100vw;
        height: 32vh; 
        position: absolute;
       
    }
  .TextoCentral {
    height: fit-content;
    width: 80%;
    position: relative;
    top: 15%;
    left: 10%;
    bottom: 10%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.8em;
    
}
.links {
    display: flex;
    flex-direction: row;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: space-between;
    align-items: center;
}

.oradores {
    margin-bottom: 190%;
}

.titulotarjetas {
    margin-top: 75%;
    
}

.grupotarjetas {
    display: flex;
    flex-direction: column;
    height: fit-content;
   
}
.tarjeta {
    height: 35%;
    width: 94%; 
    margin: auto;
}
.imagentarjeta {
    height: 55vh;
}
.textotarjeta {
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 0.2em;
   
}
.imagendividida {
    display: flex;
    flex-direction: column;
    height:45vh;
    width: 100%;
    margin-top: 50%;
    
}
.imagenBA {
    display:flex;
    width: 100%;
    height: 48%;

}
.textoimagendividida {
    display: flex;
    height: 52%;
    width:100%;
    text-align: center;
    font-size: 0.7em;
    line-height: 1.5; 
}  
.textoimagendividida {
    align-items: center;
    text-align: center;
    

}
#tabla {
   text-align: center;
}
.table-responsive {
    height: 30%;
    width: 98%;
}
.pie {

    display: table-footer-group;
    position: relative;
    top: 2px;
    text-align: center;
    align-content: flex-end;
    height: 7vh;
    width:100%;

}
    
} 
@media (max-width:800px) {
    .imagenprincipal {
        height: 40vh;
       
    }
  .TextoCentral {
    height: fit-content;
    width: 95%;
    position: relative;
    top: 2%;
    left: 2%;
    bottom: 2%;
    text-align: center;
    
}
.oradores {
    margin-bottom: 270%;
}
.imagendividida {
    display: flex;
    flex-direction: column;
    height:68vh;
    width: 100%;
    margin-top: 50%;
    
}
}